
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: "Noto Sans KR", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 11pt;
	font-weight: 300;
	letter-spacing: -0.5px;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

strong
{
	color: #000;
	font-size: 16px;
	padding-left: 20px;
}

.container
{
	margin: 0px auto;
	width: 1200px;
}

a
{
	text-decoration: none;
	color: #999;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
{
	margin: 0;
	padding: 0em 0em 0em 0em;
	overflow: hidden;
	list-style: none;
	color: #6c6c6c
}

ul.style1 li
{
	overflow: hidden;
	display: block;
	padding: 10px 0;
	border-top: 1px solid #e7e7e7;
}

ul.style1 li:first-child
{
	padding-top: 0;
	border-top: none;
}

ul.style1 .image-left
{
	margin-bottom: 0;
}

/* 상품명 */
ul.style1 h3
{
	padding: 30px 0 0 0;
	font-size: 28px;
	font-weight: 500;
	color: #000;
}

ul.style1 .first p
{	
	padding: 5px 0 0 0;
	font-size: 16px;
	font-weight: 500;
	color: #808080;
}

ul.style1 h5
{
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.5px;
	color: #333;
	padding: 0 0 20px 0;
}

ul.style2
{
	margin: 0;
	padding-top: 1em;
	list-style: none;
}

ul.style2 li
{
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0 0.80em 0;
	font-family: 0.80em;
}

ul.style2 li:before
{
	display: inline-block;
	padding: 4px;
	background: #DB3256;
}

ul.style2 a
{
	display: inline-block;
	margin-left: 1em;
}

ul.style2 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

ul.style2 .icon
{
	color: #FFF;
}

/* 판매가, 구매수량, 제품금액 */
span.name 
{
	font-weight: normal;
	font-size: 14px;
	padding-right: 20px;
}

/*********************************************************************************/
/* 수량 카운트	                                                                  */
/*********************************************************************************/

/* 수량조절버튼 */
.price
{
	padding: 20px 0 5px 0;
}

.price button
{
	border: none;
	outline: none;
	background-color: white;
	width: 30px;
	height: 40px;
	cursor: pointer;
}

input
{
	border: none;
	outline: none;
	width: 50px;
	height: 40px;
	text-align: center;
}

span.count
{
	border: 1px solid #e7e7e7;
	display: inline-block;
	line-height: 1.4;
	font-weight: 700;
	font-size: 18px;
	padding: 0 5px 0 5px;
}

/*********************************************************************************/
/* 총 제품 금액		                                                                  */
/*********************************************************************************/

.sum
{
	line-height: 50px;
	float: right;
}

.sum strong
{
	font-size: 24px;
}

/*********************************************************************************/
/* 장바구니 , 주문하기 버튼                                                                 */
/*********************************************************************************/

.sbox1 button
{
	width: 285px;
	height: 50px;
	background-color: transparent;
	border: 1px solid #000;
	outline: none;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}

.sbox2 button
{
	width: 285px;
	height: 50px;
	color: #FFF;
	background-color: #000;
	border: 1px solid #000;
	outline: none;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#wrapper
{
	background: #FFF;
}

#page
{
	overflow: hidden;
	padding: 6em 0em 0em 0em;
	background: #FFF;
}

#page .button
{
	margin-top: 2em;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content
{
	float: left;
	width: 500px;
}

#content p img
{
	display: block;
	margin: 0px auto;
}
	
/*********************************************************************************/
/* 제품 이미지	                                                                   */
/*********************************************************************************/

.image
{
	display: inline-block;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar
{
	float: right;
	width: 600px;
}

#stwo-col
{
	margin-top: 2em;
}

#stwo-col .sbox1
{
	float: left;
	width: 285px;
}

#stwo-col .sbox2
{
	float: right;
	width: 285px;
}
	
/*********************************************************************************/
/* 하단		                                                                     */
/*********************************************************************************/

#featured-wrapper
{
	overflow: hidden;
	padding: 15em 0em;
	background: #FFF;
	text-align: center;
}

#featured
{
	overflow: hidden;
}

.extra2 .ebox1
{
	width: 1200px;
	float: left;
	margin: 0px auto;
	position: absolute;
}

#detail .menu1
{
	width: 580px;
	float: left;
	height: 30px;
	border-bottom: 1px solid #000;
	font-weight: 600;
	font-size: 14px;
}

#detail .menu2
{
	width: 580px;
	float: right;
	height: 30px;
	border-bottom: 1px solid #e7e7e7;
	font-weight: 600;
	font-size: 14px;
	color: #999;
}

#delivery
{
	margin-top: 50px;
	margin-bottom: 200px;
}

#delivery .menu1
{
	width: 580px;
	float: left;
	height: 30px;
	border-bottom: 1px solid #e7e7e7;
	font-weight: 600;
	font-size: 14px;
	color: #999;
}

#delivery .menu2
{
	width: 580px;
	float: right;
	height: 30px;
	border-bottom: 1px solid #000;
	font-weight: 600;
	font-size: 14px;
}


/* 배송안내 */
.msg
{
	font-weight: 600;
	font-size: 14px;
	color: #444;
	width: 90%;
	margin: 0px auto;
	padding: 60px 0 0 0;
}

#top-msg
{
	padding-top: 100px;
}